h2{
    /* position: absolute;
    top: 150px;
    left: 200px; */
    /* background-color: rgba(38, 162, 203, 0.989); */
    /* text-shadow: 3px 3px 2px rgb(186, 58, 58); */
    font-size: 2em;
    font-family: cursive;
    background: linear gradient(to top left , rgb(159, 159, 226),rgb(73, 45, 45));
    /* border: 2px dashed skyblue; */
    /* font-display: center; */
    text-align: center;
    color: rgba(212, 103, 121, 0.804);
    
    
}
p{
    text-align: center;
    font-size: 1.5rem;
}
#para{
    position: relative;
    margin-top: 35rem;
}